.*
*~
*.swp
*.#*
*.o
data/*
.includepath
.project
.metadata/*
bin/*.sh
bin/*.cmd
bin/*
config
logs/*
*.ilk
*.pdb
workspace/*
!.gitignore
blib*
Makefile
Makefile.old
Build
Build.bat
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
cover_db
pod2htm*.tmp
ModelSeedCore-*
local/
.carton/
MYMETA.*
src